body {
    font-family: 'Roboto', sans-serif;
}

.gelsnav {
    padding-bottom: 15px;
    background-color: #F7E4EC!important;
  
}

.container {
    display:flex;
    padding:20px;
}

.row {
    display:flex;

}

.department {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.nav-item {
  display:flex;
  padding-right:30px;
  padding-left:30px;
}

.jumbotron-fluid {
    background-size:cover;

    text-align: center;
    margin:0px;
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
}

.doe {
    background-color: #F7E4EC;
}
.top {
    margin-right:0px !important;
    margin-left:40px;
    display:flex;
  
  
}

.main {
    display:flex;
    margin-right:0px !important;

}

.mainpic {
    max-width:450px;

    margin-right:15px;
    
    
    }



.mainhead {
    font-family: 'Bebas Neue', cursive;
    font-size:55px;
    color:#373A3C;
    padding-top: 30px;
}


.about {
    text-align:center;
    background-color:white;
    font-size:20px;

}

.aboutinfo {
    font-family: 'Roboto', sans-serif;
}

.casestudy {
    margin-left: 200px;
    margin-right:200px;
    padding-top:40px;
    padding-bottom:40px;
    display:flex;
    flex-direction: column;
}

.casetitle {
    background-color:#F7E4EC;
    padding:10px;
    border-radius: 12px;
    font-family:'Bebas Neue', cursive;
    display:flex;
    justify-content: center;
    font-size:35px !important;
    margin-bottom:20px;
}



.topic {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.casestudyinfo {

    display:flex;
    flex-direction: column;

}

.columninfo {
    font-size: 20px;
    display:flex;
    text-align: left;
    flex-direction:column;
}



.researchinfo {
    display:flex;
    align-items:center;
}

.research {
    background-color: white;
}
.displayresearch {
    display:flex;
    align-items: center;
    justify-content: center;
}

.lofi {
    max-width:80%;
}
.energyhifi {
    max-width:80%;
}
.footer
{
    border-width:2px;
    border-style: solid;
    border-color:white;

    background-color:#F7E4EC !important;
}

